@page
@model LoginModel


<style>
    body{
        background-color: #2C2C2C;
    }
</style>




<div class="row">
    <div class="col-md-4 mx-auto rounded border p-5" style="background-color: #fff;">
        <section>
            <h2 class="text-center mb-3">Login</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <form id="account" method="post">

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3 ml-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <div class="row mb-3">
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-info">Log in</button>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-link" style="text-decoration:none; color: black;" id="forgot-password" asp-page="/Account/Register"> Register</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
