@page
@model WebApplication1.Pages.CarsCreateModel
@{
}

<style>
	.form-container {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as needed */
	}
</style>

<div id="preloder">
    <div class="loader"></div>
</div>

<div class="row">
	<div class="col-md-4 mx-auto rounded border p-7 mb-5 mt-3 form-container">
		<h2 class="text-center mb-3 mt-5">Post Car</h2>
		<p class="text-center">Ready to sell your car? Post your vehicle for sale with us and reach thousands of potential buyers today!</p>

		@if (Model.errorMessage.Length > 0)
		{
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>@Model.errorMessage</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}
		else if (Model.successMessage.Length > 0)
		{
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>@Model.successMessage</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		}

		<form method="post" enctype="multipart/form-data" >
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Your Name</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.OwnerName" placeholder="ex. John" />
					<span asp-validation-for="PostDto.OwnerName" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Contact</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.OwnerContact" placeholder="ex. 0988776234" />
					<span asp-validation-for="PostDto.OwnerContact" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Address</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.OwnerLocation" placeholder="ex. Cebu.." />
					<span asp-validation-for="PostDto.OwnerLocation" class="text-danger"></span>
				</div>

			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Car Name</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.CarName" placeholder="Ford territory..." />
					<span asp-validation-for="PostDto.CarName" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Car Brand</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.CarBrand" placeholder="Toyota, Honda..." />
					<span asp-validation-for="PostDto.CarBrand" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Car Year</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" asp-for="PostDto.CarYear" min="1900" max="2099" step="1" placeholder="ex. 2015" />
					<span asp-validation-for="PostDto.CarYear" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Mileage</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" asp-for="PostDto.Mileage" min="0" max="10000" step="1" placeholder="Max.10000 mi.." />
					<span asp-validation-for="PostDto.Mileage" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Car Transmission</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.CarType" placeholder="ex. Automatic or Manual.." />
					<span asp-validation-for="PostDto.CarType" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Car Horsepower</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" asp-for="PostDto.HorsePower" min="0" max="5000" step="1" placeholder="Max.5000 mi" />
					<span asp-validation-for="PostDto.HorsePower" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Fuel Type</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.FuelType" placeholder="Gasoline, Electric or Diesel..." />
					<span asp-validation-for="PostDto.FuelType" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Car Price</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" asp-for="PostDto.Price"/>
					<span asp-validation-for="PostDto.Price" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Sell Type</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.SellType" min="0" max="5000" step="1" placeholder="Rent or ForSale" />
					<span asp-validation-for="PostDto.SellType" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Choose Image</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostDto.ImageFile">
					<span asp-validation-for="PostDto.ImageFile" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" href="/Cars" role="button">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>

